body {
    margin: 70px auto;
    max-width: 650px;
    padding: 0 20px;

    background-color: #eee;
    color: #444;

    font-size: 18px;
    line-height: 1.6;
}

h1 {
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

.right-footer {
     position: fixed;
     bottom: 0px;
     right: 10px;

     font-size: 15px;
     line-height: 0.5;
}

.left-footer {
    position: fixed;
    bottom: 0px;
    left: 10px;

    font-size: 15px;
    line-height: 0.5;
}
